body {
    background-color: #d6f0ef;
    font-family: Arial, sans-serif;
  }

  .disc {
    text-align: center;
    color: black;
    margin-top: 20px;
  }

  h2 {
    color: black;
    margin-top: 20px;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  #eventInput {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin-top: 2px;
    margin-left: auto;
  margin-right: auto;
  }

  #eventTitleInput {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 10px;
    padding: 10px;
    width: 50%;
    margin-right: 20px;
  }

  button {
    background-color: #298c8a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  button:hover {
    background-color: #37c2c0;
  }

  .event {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify;
  }

  .timestamp {
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
    display: block;
  }

  .comment-section {
    margin-top: 15px;
  }

  .comment-section input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .comment-section button {
    background-color: #298c8a;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .comment-section button:hover {
    background-color: #37c2c0;
  }

  .comment {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    text-align: justify;
  }

body {
  margin: 0;
  padding: 0;
  background-color: #d6f0ef;
  font-family: Arial, sans-serif;
}

.navbar {
    top: 60px;
  left: 0;
  width: 100%;
  background-color: lightgrey;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0px;
  z-index: 2;
}

.navbar a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
  text-align: center;
  background-color: lightgrey;
  justify-content: space-evenly;
}

.heading {
  padding: 20px;
  text-align: center;
  background-color: #333;
  font-family: "Bruno Ace";
  color: #fff;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.main-content {
  margin-left: 20px;
  margin-right: 20px;
}

